
@mixin common {
  width: 100%;
}
@mixin customBorder ($width: 0.1em, $color: black, $style: solid, $radius: 0.4em){
  border:{
    width: $width;
    color: $color;
    style: $style;
    radius: $radius;
  }
}
$mainColor: #74B2D3;

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/*
  ========================================
  Grid system
  ========================================
*/
.grid,
.col-1-3,
.col-2-3,
.col-1-2 {
  padding: 0 1em; /*0 top-bottom / 16px L R*/
}
.col-1-3,
.col-2-3,
.col-1-2  
{
  float:left;  
  vertical-align: top;
}
.col-1-3 {
  @include common;
}
.col-2-3 {
  @include common;
}
.col-1-2 {
  @include common;
}
/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
  background-color: lighten($mainColor, 30%);
}
/*
  ========================================
  Floats
  ========================================
*/
.flleft {
  float: left;
}
.flright {
  float: right;
}


body {
  line-height: 1.2;
  font-size: .9em;
  background-image: url(../media/images/ocean-2.jpg);
  @include common;
}

a {
  transition: background 1s;
}

.nav{
    list-style: none;
    font-weight: bold;
    margin-bottom: 1em;
    float: left; 
    width: 100%;
}

.nav li{
    float: left;
    position: relative;
}

.nav a{
    display: block;
    padding: 0.4em;
    color: black;
    background: lighten($mainColor, 20%);
}

.nav a:hover{
    color: black;
    background: $mainColor;
}

/*--- DROPDOWN ---*/
.nav ul{
    list-style: none;
    position: absolute;
    display: none;
}
.nav ul li{
    float: none;
}
.nav li:hover ul{ 
    display: inline-block;
}
.nav li:hover a{ 
    background: $mainColor;
}

.nav li:hover ul li a:hover{ 
    background: lighten($mainColor, 20%);
}

.logo {
  margin-top: 3em;
}

footer {
  text-align: center;
}

.footerBack {
  background-color: $mainColor;
}

.hlekkir {
  padding: 1em;
  margin: 1em;
  background-color: lighten($mainColor, 10%);
  @include customBorder;
}

.hlekkir a {
  display: block;
  color: black;
  text-decoration: none;
  &:hover {
    background: $mainColor;
  }
}

h1 {
  padding-left: 1em;
}
/*Responsive web design - breakpoints - 30em - 48em - 60em*/

@media screen and (min-width: 30em) {
  body {
    font-size: 1em;
    line-height: 1.4;
  }
  .col-1-2 {
    width: 50%;
  }
} 
@media screen and (min-width: 48em) {
  header h1 {
    width: 55%;
    float: left;
  }
  header nav {
    width: 45%;
    float: right;
    margin-top: 2em;
  }
  footer nav {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0 0 1em 0;
  }
  .col-1-3 {
    width: 33.333%;
  }
  .col-2-3 {
    width: 66.666%;
  }
}
@media screen and (min-width: 60em) {
  body {
    max-width: 60em;
    margin: 0 auto;
  }
}